.internal-body{
	background-color:#F5F5F5;
	margin-bottom:100px;
}
.todayPeople{
	background-color:#FFF;
	overflow:hidden;
	padding:10px 0;
}
.todayPeople>ul{
	font-size:16px;
	color:#666;
}
.todayPeople>ul li{
	float:left;
	list-style:none;	
	width:100px;
}
.todayPeople>ul li>label{
	display:block;
	text-align:center;
	margin-top:10px;
}
.todayPeople>ul li>span img{
	width:100px;
	height:100px;
	border-radius:100px;
	border:2px solid #fff;;
}	