.personal-body{
	margin-top:10px;
}
.entry-description{
	background-color:#FFF;
	position:relative;
	font-size:14px;
	color:#999;
	padding:15px 0 15px 10px;
	margin-bottom:20px;
}
.entry-description>i{
	position:absolute;
	right:10px;
	bottom:12px;
	width:30px;
	height:24px;
	background:url(../img/icon.png)  no-repeat -340px 0;
}
.record-body{
	margin-top:10px;
	font-family:'宋体';
}
.record-body .state{
	background-color:#FFF;
	margin:10px 0;
}
.record-body .state>header{
	padding:10px;
	font-size:12px;
	overflow: hidden;
}

.record-body .state>section{
	background-color:#F5F5F5;
	padding:10px 10px 10px 20px;
	position:relative;
}
.record-body .state>section>span{
	position:absolute;
	top:10px;
	width:70px;
	height:70px;
}
.record-body .state>section .description{
	padding-left:75px;
	padding-bottom:20px;
	min-height:70px;
	
}

.record-body .state>section>div{
	font-size:14px;
	color:#666;
}
.record-body .state>section>footer{
	font-size:12px;
}
.record-body .state>section>footer p:first-child{
	color:#919191;
	position:absolute;
	bottom:10px;
	left:95px;
}
.record-body .state>section>footer p:last-child{
	margin-left:20px;
	color:#BBB;
	position:absolute;
	bottom:10px;
	right:10px;
}
.record-body .state>footer{
	color:#919191;
	font-size:12px;
	margin:0px 10px 0 10px;
	overflow:hidden;
	padding:5px 0;
}
.record-body .state>footer>p:first-child{
	float:left;
	margin-top: 5px;
}
.record-body .state>footer>p:last-child{
	float:right;
	width:80px;
	line-height:25px;
	background-color:#F5F5F5;
	text-align:center;
}
.messCount{
	position: absolute;
	top: 15px;
	right:15px;
	z-index: 1000;
	font-size: 12px;
}
.messCount>span{
	position: absolute;
	right: -10px;
	top: -7px;
	display: block;
	width: 15px;
	height: 15px;
	background-color: #FF0000;
	color:#fff;
	line-height: normal;
	border-radius: 20px;
	font-size: 10px;
	text-align: center;
}