.tip{
	background-color:#FCF8E3;
	padding:10px;
	margin:10px;
	color:#8a6d3b;
	font-size:14px;
	border-radius: 4px;
}
/*个人信息输入框开始*/
.personal-info{
	background-color:#fff;
	padding: 0 15px	
}
.personal-info input{
	border:none;
	border-bottom:1px solid #F6F6F6;
	box-sizing:border-box;
	line-height:40px;
	width:100%;
	outline:none;
	color:#333;
}
/*个人信息输入框结束*/